<html>
<head>
	<title>Markdown Preview</title>
	{{#if style}}
		<link rel="stylesheet" type="text/css" href="/assets/style.css">
	{{/if}}
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var origin = window.location.protocol+'//'+window.location.hostname+(window.location.port ? ':'+window.location.port: '');
		var socket = io.connect(origin);
		socket.on('reload', function (data) {
			location.reload();
		});
	</script>
</head>
<body>
	<div class="markdown">
	{{{markdown}}}
	</div>
</body>
</html>